<!--foot-->
{% load staticfiles %}
<link href="{% static 'main_app/css/MainPageStyle_.css' %}" rel="stylesheet" />
<div class="copy">
    <div class="foot wrap1000">

        <div class="friend_links wrap1000">
            <p class="title7">
                友情链接
            </p>
            <p class="links">
                <a href="#">某狐教育</a>
                <a href="#">某民网教育</a>
                <a href="#">某浪教育</a>
                <a href="#">某某网教育</a>
                <a href="#">绿翔在线</a>
                <a href="#">某图教育</a>
                <a href="#">绿翔前途出国</a>
                <a href="#">出国留学</a>
            </p>
        </div>

        <ul class="lx_help wrap1000" style="margin:0 auto;">
            <li>
                <p class="title5 f-f0">关于绿翔</p>
                <a href="#">发展历程</a>
                <a href="#">管理团队</a>
                <a href="#">企业文化</a>
                <a href="#">旗下品牌</a>
                <a href="#">加入我们</a>
            </li>
            <li>
                <p class="title5 f-f0">新手帮助</p>
                <a href="#">注册流程</a>
                <a href="#">选课流程</a>
                <a href="#">网报流程</a>
                <a href="#">校区和报名点查询</a>
                <!--<a href="#">下载一卡通二维码</a>
                <a href="#">修改一卡通密码</a>-->
            </li>
            <li>
                <p class="title5 f-f0">常见问题</p>
                <a href="#">学员号</a>
                <a href="#">一卡通</a>
                <a href="#">会员积分制度</a>
                <a href="#">积分消费密码</a>
            </li>
            <li>
                <p class="title5 f-f0">支付方式</p>
                <a href="{% static 'main_app/picture/qiong.png' %}">网上支付</a>                      <!--来搞一波事情~~~-->
                <a href="#">现场支付</a>
                <a href="#">电话支付</a>
                <a href="#">汇款支付</a>
                <a href="#">手机支付</a>
            </li>
            <li>
                <p class="title5 f-f0">联系我们</p>
                <a href="#">校区电话</a>
                <a href="#">意见建议</a>
                <a href="#">联系邮箱</a>
            </li>
            <li class="nomargin">
                <p class="title5 f-f0">企业官网</p>
                <a href="#">法律声明</a>
                <a href="#">社会责任</a>
                <a href="#">教育导航</a>
            </li>
        </ul>

        <!--版权声明-->
        <div class="wrap1000" style="position:relative;">
            <div class="Reserved">
                <p>
                    经营许可证编号：牛ICP备88886666　 <span>|</span> 　牛ICP证868686号 　<span>|</span>　 京网文[2350]9999-3126号 　<span>|</span> 　牛公网安备2333333333
                </p>
                <p>
                    Copyright@ 1300-2350 GreenShit Corporation, All Rights Reserved
                </p>
            </div>
        </div>
        <!--版权声明 E-->

    </div>
</div>
<!--foot E-->

<!-- <script type="text/javascript">
                    $(document).ready(function() {
                        /*
                        var defaults = {
                            containerID: 'toTop', // fading element id
                            containerHoverID: 'toTopHover', // fading element hover id
                            scrollSpeed: 1200,
                            easingType: 'linear'
                        };
                        */

                        $().UItoTop({ easingType: 'easeOutQuart' });

                    });
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a> -->
<!-- for bootstrap working -->
<!-- {% load staticfiles %}
<script src="{% static 'main_app/js/bootstrap.min.js' %}"></script> -->
<!-- //for bootstrap working -->