a{
    text-decoration: none;
}
.wrap1000{
    text-align: left;
}
.inforL_list li, .inforR_text li, .infor_pic p, .news li, .news_list p, .sg_con2 dl dd a {
    white-space: nowrap;
}
blockquote, body, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
img{
    vertical-align: middle;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
abbr, acronym, fieldset, img {
    border: 0 none;
}
address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 400;
}
ol, ul {
    list-style: outside none none;
}
q::after, q::before {
    content: "";
}
body {
	font:12px/1.14 "Arial","Hiragino Sans GB","Georgia","serif";
}
.f-f0{
	font-family:"Microsoft YaHei","Helvetica","sans-serif";
}
textarea {
    outline: 0 none;
    overflow: auto;
    resize: none;
}
img {
    vertical-align: middle;
}
:focus {
    outline: 0 none;
}
.fix, .wrap1000 {
}
.fix::after, .wrap1000::after {
    clear: both;
    content: "";
    display: block;
    height: 0;
    visibility: hidden;
}
a {
    color: #9fa0a0;
}
a img {
    border: medium none;
}
p {
    word-wrap: break-word;
}
.wrap1000 {
    margin: 0 auto;
    width: 1000px;
}


/*foot*/
.footer {
    height: 410px;
    width: 100%;
}
.footer a {
    color: #c6c6c6;
}
.footer a:hover {
    color: #38bca4;
}
.foot {
    height:410px;
}
.friend_links {
    color: #e0e0e0;
    height: 80px;
}
.title7 {
    color: #484848;
    font-size: 16px;
    height: 25px;
    line-height: 25px;
   /* margin-bottom: 10px;*/
    width: 1000px;
}
.links {
    border-bottom: 1px solid #dddddd;
    color: #999;
	overflow:hidden;
    line-height: 35px;
	height:25px;
    padding-bottom: 15px;
    width: 1000px;
}
.links a {
    color: #999;
    display: inline-block;
    margin: 0 15px 0 0;
	font-size:13px;
}
.Reserved {
    color: #999;
    height: 50px;
    text-align: center;
    width: 1000px;
	border-top:1px solid #e0e0e0;
	padding-top:5px;
}
.Reserved p {
    line-height: 25px;
	font-size:12px;
	color:#999999;
}
.Reserved p span{
	color:#ccc;
}

.lx_help {
    height: 180px;
    margin-top: 15px;
}
.lx_help li {
    float: left;
    height: 180px;
    margin-right: 65px;
    text-align: left;
    width: 110px;
	font-size:13px;
}
.lx_help li.nomargin {
    margin: 0;
}
.lx_help .title5 {
    color: #606060;
    font-size: 16px;
    line-height: 30px;
}
.lx_help li a {
    display: block;
    line-height: 22px;
}
